<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

  <appSettings>



    <!--服务器-->
    <add key="server"     value="172.16.1.15" />
    <add key="database"   value="Interface_server" />
    <add key="userid"     value="sa" />
    <add key="password"   value="L8QUNvVziwD9IrzGXqR8GQ==" />
        
    <!--Server=172.16.1.15;Database=interface_server;user id=interface_server;password=interface;App=EntityFramework-->

  </appSettings>
</configuration>
